<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
   <title>RTB</title>
</head>
<body>
   <div class="wrapper">
      <div class="icon"> <nav><img src="../images/logortb.jpg" alt=""></nav></i></div>
      <div class="content">
        <h3>LOGIN</h3>
      </div>
      <form action="#">
         <div class="field">
            <label for="email">Email</label>
            <input type="email" placeholder="adminrtb@gmail.com" required>
         </div>
         
         <div class="field">
            <label for="pass">Password</label>
            <input type="password" placeholder="Enter password" required>
            <p class="pass">Forgot password?</p>
         </div>

         <div class="ckeck">
            <input type="checkbox" name="check" class="check">
            <label for="check">Remember me</label>
         </div>

         <div class="field btn">
            <input type="submit" value="Login">
         </div>
         <p class="text">Not registered? <span><a href="../../Register/Views/index.html">Register</a></span> </p>
      </form>
   </div>
   </div>
</body>
</html>