<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
   <title>Login RTB</title>
</head>
<body>
   <div class="wrapper">
      <div class="icon"> <nav><img src="../images/logortb.jpg" alt=""></nav></i></div>
      <div class="content">
        <h3>Register</h3>
      </div>
      <form action="#">
         <div class="select-options">
          <ul>
            <li>Trainer</li>
            <li>School Manager</li>
            <li>Mayor</li>
            <li>DDE</li>
            <li>RTB</li>
            <li>SEO</li>
          </ul>
         </div>
         <div class="whole-container">
         <div class="container">
            <label for="fname">Firstname</label>
            <input type="text" name="fname" placeholder="vraiment">
         </div>
         <div class="container">
            <label for="fname">Lastname</label>
            <input type="text" name="lname" placeholder="Donc">
         </div>
         <div class="container">
            <label for="fname">Email</label>
            <input type="text" name="email" placeholder="nicooc@gmail.com">
         </div>
         <div class="container">
            <label for="fname">Phone</label>
            <input type="text" name="phone" placeholder="123456789987656">
         </div>
         <div class="container">
            <label for="fname">National ID</label>
            <input type="text" name="id">
         </div>
         <div class="container">
            <label for="fname">Gender</label> <br>
            <select name="" class="select">
               <!-- <option value="male">Male</option>
               <option value="female">Female</option> -->
            </select>
         </div>
         <div class="container">
            <label for="Province">Province</label> <br>
            <select name="" class="select">
               <!-- <option value="kigali">Kigali City</option>
               <option value="Northern">Northern</option>
               <option value="Western">Western</option>
               <option value="Eastern">Eastern</option>
               <option value="Southern">Southern</option> -->
            </select>
         </div>
         <div class="container">
            <label for="fname">District</label> <br>
            <select name="" class="select">
               <!-- <option value="gasabo">Gasabo</option>
               <option value="Nyabihu">Nyabihu</option>
               <option value="Nyarugenge">Nyarugenge</option> -->
            </select>
         </div>
         <div class="container">
            <label for="pass">Password</label>
            <input type="password" name="pass">
         </div>
         <div class="container">
            <label for="confirm">Confirm password</label>
            <input type="password" name="pass">
         </div>
      </div>


         <div class="container btn">
            <input type="submit" value="Register">
         </div>
         <p class="text">Alreadyregistered? <span><a href="../../Login RTB/Views/index.html">Login</a></span> </p>
      </form>
   </div>
   </div>
</body>
</html>