<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
   <link rel="stylesheet" href="style.css">
   <title>RTB</title>
</head>
<body>
  <div class="dashboard">
   <div class="sidebar">
      <div class="title">
         <img src="../images/logortb.jpg" alt="">
      </div>
      <div class="inner">
       <div class="sidebar-items">
            <a href="#" class="sidebar-item"><i class="ri-flag-line"></i>Home</a>
            <a href="#" class="sidebar-item"><i class="ri-flag-line"></i>Recruitment</a>
            <a href="#" class="sidebar-item"><i class="ri-question-line"></i>Perfomance</a>
            <a href="#" class="sidebar-item"><i class="ri-settings-5-line"></i>Payment</a>
         </div>
      </div>
      <div class="logout"><a href="#">Logout</a></div>
      </div>
      <div class="content">
         <header>
            <div class="header">
             <div class="nav-container">
               <div class="nav">
                  <a href="#">School Manager</a> /
                  <a href="#">Dashboard</a> /
                  <a href="#">Home</a>
               </div>
             </div>
             <div class="search">
               <!-- <center></center> -->
               <input type="text" placeholder="Search anything here">
             </div>
             <div class="profile-container">
                 <div class="profile-box">
                  <button class="mic"> <i class="ri-notification-4-line" id="notif"></i></button>
                     <img src="../images/Emmy.png" alt="">
                 </div>
             </div>
           </div>
        </header>
      </div>
   </div>
</body>
</html>